*{
	font-family: 'Open Sans','arial';
	color: #5e656b;	
	font-size: 13px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
	line-height: 1;
}

.container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas: 
    "header header header"                        
    "side-bar main main"                        
    "side-bar main main"                        
    "side-bar main main"                        
    "footer footer footer";

    grid-template-rows: 63px 1fr 1fr 1fr 50px;
    grid-template-columns: 200px 1fr 1fr;
	padding: 0 !important;
	margin:0 !important;
	
}

header{
    background-color: #242729;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    color: #FFF;
}

.caixa1, .caixa2{
    background-color: #242729;
}
.caixa1{
	margin-left: 150px;
	margin-top: 10px;
}

.caixa2{
	margin-top: 10px;
    padding: 13px 22px 14px;
}

main{
    background-color: #F0F0F0;
    grid-area: main;
    padding: 15px;
	min-height: calc(100vh - 113px);

}

.historico{
    background-color: #F0F0F0;
}
.historico a > small{
	color: #C63131;
}


.usuarios{
    background-color: #EAEAEA;
    color: #555555;
    margin-bottom: 4px;
	padding: 15px;
	
}

.usuarios h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	margin: 0px;
    font-weight: bold;
}

.usuarios .subtitle {
    font-size: 12px;
    margin-left: 2px;
    padding-right: 180px;
    color: #666;
    font-weight: 300;
    letter-spacing: .3px;
}

.salvar-cancelar{
    display:inline-flex;
    margin-left: 15px;
    margin-top: 2px;
}

.salvar{
    margin-right: 10px;
	margin-left: 6px;
    
}


.salvar, .cancelar{
    height: 50px; 
    width: 55px;
	text-align: center;
}

.salvar a, .cancelar a{
	color:#555555;
	text-decoration: none;
}

.salvar a:hover, .cancelar a:hover{
	color:#C63131;
}

h4{
    color: #C63131;
}

form label small{
    color:#777A90;
}

.span-cadastro{
    font-size:17px; 
    font-weight: bold; 
    color: gray;
}

#informacoesGerais{
	color: #888888;
	padding: 9px 15px;
    margin-left: -16px;
    margin-right: -16px;
	border-bottom: 1px solid #EEEEEE;
	background: #FFFFFF;
	position: relative;
}

.panel-bd-top {
    border-top: 3px solid #C63131;
}

.side-bar{
    background-color: #C63131;
    grid-area: side-bar;
}

.navbar-menu{
    height: 50px;
    background-color:#4E4D4D;
}

.footer{
    background-color: #252525;
    color: #f5f5f5;
    padding-top: 17px;
    padding-bottom: 9px;
	/*
	background-color: #000000;
    color: #FFF;*/
    grid-area: footer;
	display: block;
}

/*SIDEBAR*/

.side-bar>ul>li>a{
	padding: 10px 20px;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.15);
    position: relative;
	/*
    color: #FFF;
    padding: 15px;
    display: list-item;
    border-bottom: 1px solid rgba(167, 162, 162, 0.479)*/ ;
}

.side-bar>ul>li:first-child>a{
	border-top: none;
}

.side-bar a{
	display: block;
}

.side-bar a, .side-bar span, .side-bar i{
	color: #FFF;
    font-weight: 300;
}

.side-bar a:hover{
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.185);
}

.ul-permissao , .ul-historico , .ul-motorderegras , .ul-portal{
    display: none;
    background-color: gray;
}

.navbar-spacing {
    height: 310px;
}

.menu_sair>ul>li:last-child{
	border-top: 1px solid rgba(0,0,0,0.15);
    border-bottom: none !important;
}

.menu_sair>ul>li>a{
	border-top: 1px solid rgba(255,255,255,0.2) !important;
    border-bottom: none;
}

.icon{
	margin-right: 10px;
}
/*SIDEBAR*/

img{
    height:35px;   
    display: none;
}

.link-form>i{
    margin-left: 2px;
    margin-bottom: 10px;
    cursor: pointer;
}

label>input{
    cursor: pointer;
}

form{
    margin-bottom: 15px;
}

.mobile-menu{
    display: none;
}


@media(max-width:600px){
 
.side-bar{
    display: none;
}

.container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas: 
    "header header header"                        
    "main main main"                        
    "main main main"                        
    "main main main"                        
    "footer footer footer";

    grid-template-rows: 50px 1fr 1fr 1fr 50px;
    grid-template-columns: 200px 1fr 1fr;
}





.mobile-menu{
    display: block;
}

#menu__toggle{
    opacity: 0;
}

#menu__toggle:checked + .menu__btn>span{
   transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn>span::before{
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn>span::after{
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box{
    left: 0 !important;
}

.menu__btn{
    display: block;
    position: absolute;
    top: 25px;
    left: 10px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fa0000;
    transition-duration: .25s;
}

.menu__btn>span::before{
    content: '';
    top: -8px;
}

.menu__btn>span::after{
    content: '';
    top: 8px;
}

.menu__box{
    position: absolute;
    top: 0;
    right: 100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #e5e5e5e0;
    box-shadow: 2px 2px 6px rgba(0,0,0,.4);
    transition-duration: .25s;
}

.menu__item{
    display: block;
    padding: 12px 24px;
    color: rgb(212, 13, 13);
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}


}